.the-border {
    background: linear-gradient(110deg, #ffffff 33%, rgba(0, 0, 0, 0) 33%),
        linear-gradient(110deg, #3658a3 34%, #00070c 34%);
    background-size: 400% 400%;
    background-position: 25% 50%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

.inner-cutout {
    display: block;
    margin: 2%;
    background-color: #c5c4c4;
    background-size: 300%;
    background-position: 50% 50%;
}

.knockout {
    vertical-align: middle;
    text-align: center;
    padding-bottom: 10px;
    color: #fff;
    background: linear-gradient(110deg, #ffffff 33%, rgba(0, 0, 0, 0) 33%),
        linear-gradient(110deg, #3658a3 34%, #00070c 34%);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: Gradient 5s ease infinite;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 30% 50%;
    }

    50% {
        background-position: 25% 50%;
    }

    100% {
        background-position: 30% 50%;
    }
}